.modal {
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  left: 5%;
  position: fixed;
  top: 20vh;
  width: 90%;
}

.modal__header {
  background: #5e5d5d;
  padding: 1rem;
  text-align: center;
}

.modal__header h1 {
  font-size: 1.8rem;
  margin: 0;
}

.modal__content {
  font-size: 1.5rem;
  padding: 1rem;
}

@media (max-width: 768px) {
  .modal {
    width: 80%;
  }

  .modal__content {
    text-align: center;
  }
}

@media (max-width: 468px) {
  .modal {
    width: 17rem;
  }

  .modal__content {
    text-align: center;
  }
}
